# Ambientes Virtuais Python
.venv/
venv/
ENV/
env/

# Python Bytecode e Cache
__pycache__/
*.py[cod]
*$py.class
*.pytest_cache/

# Banco de Dados Local
*.db
*.sqlite3

# Variáveis de Ambiente
.env
.env.local

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
